@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
}

/* Top  */
.top {
  padding: 0 7%;
}
.top {
  background-color: rgba(31, 31, 31, 0.863);
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}
.top > span {
  margin: 7px 0px;
  color: rgba(255, 255, 255, 0.404);
}
.white {
  color: white;
  text-decoration: none;
}

/* Navbar */
/* logo  */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;
  padding: 0 7%;
  background-color: bisque;
}
.logo {
  padding: 20px 0;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}
.logo > h1 {
  display: inline-block;
  font-size: 35px;
  color: orange;
  letter-spacing: 2px;
}
.bar {
  padding: 0 20px;
  font-size: larger;
}
h1 > i {
  color: black;
  margin-left: 2px;
}
div.logo > span {
  color: rgba(0, 0, 0, 0.274);
}
/* Nav bar  */
ul {
  list-style-position: inside;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 45%;
}
li > a {
  text-decoration: none;
  color: black;
}
li:hover {
  list-style-type: none;
  background-color: orange;
  color: white;
}
